!!! 5
html
  head
    title PZH Login
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/structure.css")
    link(rel="stylesheet", type="text/css", href="/css/login.css")    
  body
    form.box.login(action="/createPzh", method="POST")
      header
        img(src="/images/webinosWithBorder.png", width="100px")
        label Register for a Personal Zone Hub
      fieldset.boxBody
        label Sign up to create your own Personal Zone Hub
        input(type='hidden', name='_csrf', value='#{_csrf}')
        - if (error) { 
          label Nickname already in use or invalid. Please choose another.  
          label Nicknames must contain only letters and numbers.
        - } 
        input(type='text', name='nickname', value='#{proposedNick}')
        input(type="submit", class="btnLogin", value="Sign up!")
    footer#main
      a(href="http://www.webinos.org") Powered by webinos
      |  |
      a(href="http://developer.webinos.org")  Developer resources on webinos
